*{
  box-sizing: border-box;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
.header {
  background-color: #f2f2f2;
}